/* ------------------------
   CARD GENERICA (Login & Profilo) - FC26
--------------------------- */


.card-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-text);
}

/* ------------------------
   FORM INPUTS (login.css)
--------------------------- */
.form-control {
  border-radius: var(--bs-btn-border-radius, 999px)!important;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.form-control::placeholder{
    color: var(--secondary-color) !important; /* nuovo colore del placeholder */
    opacity: 1; /* forza piena visibilità */
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(7, 244, 104, 0.3);
  outline: none;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
